@import '../colors';

.MoneyInputDialog {
  color: rgba(black, .86);
  font-size: 0.8em;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  table {
    font-size: 0.8em;
    width: 100%;
    text-align: center;
  }

  input[type=number] {
    width: 3em;
    text-align: right;
  }

  .buttons {
    margin-top: auto;
  }

  .marked {
    position: relative;
    color: rgba(black, .33);

    &::after {
      content: '';
      $color: rgba(map-get($colors, navy), .5);
      box-shadow: 0 0 0 2px $color;
      border-radius: 50%;
      position: absolute;
      $offset: 0.22em;
      top: $offset;
      left: 0;
      right: 0;
      bottom: $offset;
    }
  }
}
